<div class="container">
<div class="row">
	<div class="col-12">

		<h2>Networks found</h2>

		<form method="post" action="confirm" id="form" class="mt-4">
			
			<% if (networks.length > 0) { %>
				<ul class="list-group mb-4" id="networks">
				<% for(const [index, network] of networks.entries()) { %>
					<div class="list-group-item">
						<li class="form-check">
							<input class="form-check-input" type="radio" name="ssid" value="<%= network %>" id="<%= network %>" <% if (index === 0) { %>checked<% } %>>
							<label class="form-check-label" for="<%= network %>">
								<%= network %>
							</label>
						</li>
					</div>
				<% } %>
				</ul>
			<% } else { %>
			<div class="alert alert-danger" role="alert">
				No networks detected
			</div>
			<% } %>
			
			<div class="mt-3">
				<label for="password" class="form-label">Password</label>
				<input type="password" class="form-control" id="password" placeholder="Access password for wifi network" name="password" onkeyup="enableNext()" />
			</div>

			<div class="mt-3">
				<label for="hidden_ssid" class="form-label">Hidden access point? Enter the SSID here</label>
				<input type="text" class="form-control" id="hidden_ssid" placeholder="Name of hidden wifi network" name="hidden_ssid" onkeyup="enableSelection(); enableNext()" />
			</div>

			<div class="mt-3">
				<%- include("../home") %>
				<a class="btn btn-secondary" href="/wifi/">Back</a>
				<button class="btn btn-primary" id="next" disabled>Next</button>
				<button type="button" class="btn btn-warning ms-2" id="rescan" onClick="doRescan()">Rescan</button>
				<div id="busy" class="ms-3 spinner-border spinner-border-sm" role="status">
					<span class="visually-hidden">Loading...</span>
				</div>
			</div>
			
		</form>

	</div>

</div>
</div>

<script>
	function enableSelection() {
		const networks = document.getElementById('networks');
		const hidden_ssid = document.getElementById('hidden_ssid');
		if (networks === null) {
			return;
		}
		const elements = networks.getElementsByTagName('input');
		for (var i = 0; i < elements.length; i++) {
			if (hidden_ssid.value === '') {
				elements[i].removeAttribute('disabled');
			} else {
				elements[i].setAttribute('disabled', 'true');
			}	
		}
	}

	function enableNext() {
		const networks = document.getElementById('networks');
		const password = document.getElementById('password');
		if (password.value !== '' && (networks !== null || document.getElementById('hidden_ssid').value !== '') ) {
			document.getElementById('next').removeAttribute('disabled');
		} else {
			document.getElementById('next').setAttribute('disabled', 'true');
		}
	}

	function doRescan() {
		document.getElementById("busy").style.visibility = "visible";
		document.getElementById("rescan").setAttribute("disabled", "true");
		document.getElementById("next").setAttribute("disabled", "true");
		location.reload();
	}
</script>
