<div class="container">

	<div class="path text-center mb-2">
		<% if (partial === '') { %>
			/
		<% } else { %>
			<%= partial %>
		<% } %>
		</div>

	<ul class="list-group">

		<% if (path!==root) { %>
			<li class="list-group-item file-icon"  onclick="window.location = '/files?path=<%= back %>'"><%- include('icons/up') %> Back</li>
		<% } %>

		<% for (item of items) { %>

			<% if (item.isDirectory) { %>
				<li class="list-group-item file-icon" onclick="window.location = '/files?path=<%= item.relPath %>'"><%- include('icons/directory') %> <%= item.name %></li>
			<% } else { %>
				<li class="list-group-item file-icon"  onclick="window.location = 'setPlaylist('<%= item.absPath %>')'"><%- include('icons/file') %> <%= item.name %></li>
			<% } %>
			
		<% } %>

	</ul>

	<div class="m-2 home-link">
		<a href="/"><%- include('icons/home') %> Home</a>
	</div>

</div>
