<ul>
<% for (item of items) { %>
	<% if (item.isDirectory) { %>
		<li><a href="/files?path=<%= item.path %>"><%= item.name %></a> F</li>
	<% } else { %>
		<li><a href="#" onClick="setPlaylist('<%= config.mediaDir %>/<%= item.name %>')"><%= item.name %></a></li>
	<% } %>
<% } %>
<% if (path!==root) { %>
	<li><a href="/files?path=<%= back %>">..</a></li>
<% } %>
</ul>

<a href="/">Back</a>

<script>
	function setPlaylist(file) {
		vlcCommand('pl_empty');
		vlcCommand('in_play', `input=file://${file}`);
	}
</script>