<div class="container">
<ul class="list-group">
<% if (path!==root) { %>
	<li class="list-group-item"><a href="/files?path=<%= back %>">..</a></li>
<% } %>
<% for (item of items) { %>
	<% if (item.isDirectory) { %>
		<li class="list-group-item"><a href="/files?path=<%= item.relPath %>"><%= item.name %></a> F</li>
	<% } else { %>
		<li class="list-group-item"><a href="#" onClick="setPlaylist('<%= item.absPath %>')"><%= item.name %></a></li>
	<% } %>
<% } %>
</ul>
<a href="/">Back</a>
</div>
