<div class="grid-container">
	<div class="grid-item d-grid gap-2">
		<button class="btn btn-outline-primary">
			<%- include('icons/rewind') %>
		</button>
	</div>
	<div class="grid-item d-grid gap-2">
		<button class="btn btn-outline-primary" onClick="vlc()">
			<%- include('icons/play') %>
		</button>
	</div>
	<div class="grid-item d-grid gap-2">
		<button class="btn btn-outline-primary">
			<%- include('icons/forward') %>
		</button>
	</div>
	<div class="grid-item d-grid gap-2">
		<button class="btn btn-outline-primary">
			<%- include('icons/volume_down') %>
		</button>
	</div>
	<div class="grid-item d-grid gap-2">
		<button class="btn btn-outline-primary">
			<%- include('icons/volume_mute') %>
		</button>
	</div>
	<div class="grid-item d-grid gap-2">
		<button class="btn btn-outline-primary">
			<%- include('icons/volume_up') %>
		</button>
	</div>
	<div class="grid-item d-grid gap-2">
		<button class="btn btn-outline-primary">
			<%- include('icons/list') %>
		</button>
	</div>
	<div class="grid-item d-grid gap-2">
		<button class="btn btn-outline-primary"></button>
	</div>
	<div class="grid-item d-grid gap-2">
		<button class="btn btn-outline-primary">
			<%- include('icons/power') %>
		</button>
	</div>
</div>

<script>
	function vlc() {
		fetch(`<%= config.vlcURL %>?command=pl_pause`, {
			headers: {
				Authorization: `Basic ${btoa(":playback")}`,
			},
			mode: "no-cors",
			credentials: "include",
		});
	}
</script>
