<div class="grid-container">
	<div class="grid-item d-grid gap-2">
		<button type="button" class="btn btn-outline-primary" onClick="vlcRemoteCommand('pl_previous')">
			<%- include('icons/rewind') %>
		</button>
	</div>
	<div class="grid-item d-grid gap-2">
		<button type="button" class="btn btn-outline-primary" onClick="vlcRemoteCommand('pl_pause')">
			<div id="play" class="d-none">
				<%- include('icons/play') %>
			</div>
			<div id="pause" class="d-none">
				<%- include('icons/pause') %>
			</div>	
		</button>
	</div>
	<div class="grid-item d-grid gap-2">
		<button type="button" class="btn btn-outline-primary" onClick="vlcRemoteCommand('pl_next')">
			<%- include('icons/forward') %>
		</button>
	</div>
	<div class="grid-item d-grid gap-2">
		<button type="button" class="btn btn-outline-primary" onClick="vlcRemoteCommand('volume&val=-20')">
			<%- include('icons/volume_down') %>
		</button>
	</div>
	<div class="grid-item d-grid gap-2">
		<button type="button" class="btn btn-outline-primary" onClick="muteToggle()">
			<div id="volume_mute" class="d-none">
				<%- include('icons/volume_mute') %>
			</div>
			<div id="volume_off" class="d-none">
				<%- include('icons/volume_off') %>
			</div>	
		</button>
	</div>
	<div class="grid-item d-grid gap-2">
		<button type="button" class="btn btn-outline-primary" onClick="vlcRemoteCommand('volume&val=+20')">
			<%- include('icons/volume_up') %>
		</button>
	</div>
	<div class="grid-item d-grid gap-2">
		<button type="button"<button class="btn btn-outline-primary" onClick="window.location = '/files'">
			<%- include('icons/list') %>
		</button>
	</div>
	<div class="grid-item d-grid gap-2">
		<button type="button"<button class="btn btn-outline-primary"></button>
	</div>
	<div class="grid-item d-grid gap-2">
		<button type="button"<button class="btn btn-outline-primary">
			<%- include('icons/power') %>
		</button>
	</div>
</div>

<script>



</script>