<div class="row" style="height: 30%">
	<div class="col-4 h-100 p-2">
		<button
			type="button"
			class="btn btn-outline-primary h-100 w-100"
			onClick="vlcStatus('pl_previous')"
		>
			<%- include('icons/rewind') %>
		</button>
	</div>

	<div class="col-4 h-100 p-2">
		<button
			type="button"
			class="btn btn-outline-primary h-100 w-100"
			onClick="vlcStatus('pl_pause')"
		>
			<span id="play" class="d-none"><%- include('icons/play') %></span>
			<span id="pause" class="d-none"><%- include('icons/pause') %></span>
		</button>
	</div>

	<div class="col-4 h-100 p-2">
		<button
			type="button"
			class="btn btn-outline-primary h-100 w-100"
			onClick="vlcStatus('pl_next')"
		>
			<%- include('icons/forward') %>
		</button>
	</div>
</div>

<div class="row" style="height: 30%">
	<div class="col-4 h-100 p-2">
		<button
			type="button"
			class="btn btn-outline-primary h-100 w-100"
			onClick="vlcStatus('volume&val=-20')"
		>
			<%- include('icons/volume_down') %>
		</button>
	</div>

	<div class="col-4 h-100 p-2">
		<button
			type="button"
			class="btn btn-outline-primary h-100 w-100"
			onClick="muteToggle()"
		>
			<span id="volume_mute" class="d-none">
				<%- include('icons/volume_mute') %>
			</span>
			<span id="volume_off" class="d-none">
				<%- include('icons/volume_off') %>
			</span>
		</button>
	</div>

	<div class="col-4 h-100 p-2">
		<button
			type="button"
			class="btn btn-outline-primary h-100 w-100"
			onClick="vlcStatus('volume&val=+20')"
		>
			<%- include('icons/volume_up') %>
		</button>
	</div>
</div>

<div class="row" style="height: 30%">
	<div class="col-4 h-100 p-2">
		<button
			class="btn btn-outline-primary h-100 w-100"
			onClick="window.location = '/files'"
		>
			<%- include('icons/list') %>
		</button>
	</div>

	<div class="col-4 h-100 p-2">
		<button
			class="btn btn-outline-primary h-100 w-100"
			onClick="window.location = '/settings'"
		>
			<%- include('icons/settings') %>
		</button>
	</div>

	<div class="col-4 h-100 p-2">
		<button
			class="btn btn-outline-primary h-100 w-100"
			data-bs-toggle="modal"
			data-bs-target="#modal-power"
		>
			<%- include('icons/power') %>
		</button>
	</div>
</div>

<!-- Modal -->
<div
	class="modal fade"
	id="modal-power"
	data-absfile=""
	data-bs-backdrop="static"
	data-bs-keyboard="false"
	tabindex="-1"
	aria-labelledby="staticBackdropLabel"
	aria-hidden="true"
>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="staticBackdropLabel">Power</h1>
				<button
					type="button"
					class="btn-close"
					data-bs-dismiss="modal"
					aria-label="Close"
				></button>
			</div>
			<div class="modal-body">
				<div class="text-center mb-1 d-grid gap-2">
					<a
						class="btn btn-outline-primary"
						data-bs-dismiss="modal"
						href="/reboot"
					>
						Reboot
					</a>
					<a
						class="btn btn-outline-primary"
						onclick=""
						data-bs-dismiss="modal"
						href="/poweroff"
					>
						Shutdown
					</a>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
					Cancel
				</button>
			</div>
		</div>
	</div>
</div>

<script>
	document.addEventListener("vlc_status", (event) => {
		const status = event.detail;

		if (status.volume != lastStatus.volume) {
			if (status.volume === "0") {
				document.getElementById("volume_off").classList.remove("d-none");
				document.getElementById("volume_mute").classList.add("d-none");
			} else {
				document.getElementById("volume_mute").classList.remove("d-none");
				document.getElementById("volume_off").classList.add("d-none");
			}
		}

		if (status.state !== lastStatus.state) {
			if (status.state === "playing") {
				document.getElementById("pause").classList.remove("d-none");
				document.getElementById("play").classList.add("d-none");
				document.getElementById("playStatus").innerHTML = "Playing";
			} else {
				document.getElementById("play").classList.remove("d-none");
				document.getElementById("pause").classList.add("d-none");
				document.getElementById("playStatus").innerHTML = "Paused";
			}
		}
	});
</script>
